.countDown {
	max-width: 90%;
	margin: auto;
}

#name {
	text-align: center;
	margin: auto;
	padding-top: 1%;
	padding-bottom: 5%;
}

#event {
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 4%;
}

.scan-button {
	display:none;
	text-align: center;
	margin: auto;
	margin-top: 5%;
}

button {
	padding: 1.5% 7% 1.5% 7%;
}

.eventImageContainer,
.eventTextContainer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.eventTextContainer {
	margin-top: 0%;
	margin-bottom: 3%;
}

iframe[src^="https://apis.google.com"] {
	display: none;
	
}

.locationImage {
	display: block;
}

.activityImage{
	display:block;
}

.creatorImage{
	display:block;
}

.creator-image{
	width:50%;
	height:auto;
	
};

#groveCalendar {
	text-align: center;
	margin: auto;
};

/*whoops styles*/

.whoopsContainer {
	border: #FF0000 solid 2px;
	margin-top:50px;
}

.tryAgain {
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 4%;
}

/*grove calendar styles*/
.location-grove {
	height: 200px;
	border-right: 1px solid #000 ;
}

.location-grove-title {
	text-align: right
}

.studentLocationDisplay{
	width:15%;
	height: 200px !important;
}


.student-tracker-title {
	margin:auto;
	text-align: center;
	width:100%;
	margin-bottom:50px;
	margin-top:50px;
}

.Found {
	background-color: rgba(137, 171, 66, 0.26);
	height: 200px;
	text-align:center;
	margin:7px;
	border-radius:7px;
	padding:7px;
	color:#484848;
	float: left;


}
.Lost {
	background-color: rgba(137, 171, 66, 0.26);
	height: 200px;
	text-align:center;
	margin:7px;
	border-radius:7px;
	padding:7px;
	color:#484848;
	float: left;
}

.Lost img {
	border: #ED0802 solid 3px;
}


.studentImage {
	text-align:center;
	display:block;
	width:80px;
	height: auto;
	position:absolute;
	top: 55px;
	left:5%;
	margin:auto;
}

.wrongLocation {
	color:red;
}

.name {
	font-size:1.5vw;
	font-weight: bold;
	margin-bottom:15px;
}

.nameImageContainer {
	margin-bottom:15px;
	width: 100%;
	height:20px;
	position: relative;
}

.collapse.in {
	background-color: #fff;


}

.panel {
	border:none;
}

.text-primary{
	white-space:nowrap;
}

.panel-body {
   padding: 10px;
}

.last-scan-info {
   position: relative;
   font-size: 12px;

}

.correct-location-info{
	position: relative;
	top:105px;
        font-size: 12px;
}

.location-image {
	width: 60% !important;
}



@media only screen (max-width:500px) {
	.Lost {
		width:20%;
	}
}


.activity-image {
	width:60%;
}

/* Grove calendar display */

#groveCalendar .activity-image{
	width:65px;
}


#groveCalendar.table-striped>tbody>tr:nth-of-type(odd) {
	background-color:#fff;
}

#groveCalendar.table-striped>tbody>tr:nth-child(1) {
	border: #8BAB42 solid 3px;
	border-radius: 5px;
}

.container {
	margin-bottom: 30px;
}

#student-icon {
	margin-right: 10px;
}

.grove-heading {
	margin-bottom: 20px;
}

.eventImageContainer #activityImage>img {
	width:60%;
}

.schedule-button {
	position: absolute;
	top:5px;
	right:5px;
}

.scan-button .fa {
	margin-right:8px;
}

#scan-button {
	color:#fff;
	text-decoration: none;
}

.activity-form {
	margin-top: 30px;
}

.activity-form label {
	margin-top: 10px;
}

.activity-form button {
	margin-top: 20px;
}
